.content-background {
    background-image: url("../../../photo/7.jpg");
    background-repeat: no;
    background-size: cover;
    padding: 30px 0px;
}

.content-wrapper {
    background-color: #ffffffa1;
    width: 1000px;
    height: 980px;
    border-radius: 20px;
    display: block;
    text-align: center;
    margin: 0px auto;
    padding-top: 30px;
}

.content-wrapper h1 {
    padding-bottom: 20px;
}

.place-content {
    display: grid;
    grid-template-columns: 1fr 2fr 6fr 1fr;
    grid-template-rows: 1fr;
    height: 124px;
    width: 800px;
    margin: auto;
    margin-bottom: 24px;
}

.place-content p {
    margin: 0px;
    padding: 16px;
}

.rank {
    background-color: rgb(0, 180, 235);
    font-size: 32px;
    font-weight: bolder;
    height: 100%;
    opacity: 80%;
}

.image {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 100%;
}

.name-wrapper {
    text-align: left;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding-left: 20px;
   
}

.name {
    grid-column: 3;
    grid-row: 1;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    top: 10px;
}

.totalreview {
    text-transform: none;
    font-weight: normal;
}

.arrow {
    grid-column: 4;
    grid-row: 1;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border: none;
    color:sandybrown;
}

.more {
    height: 64px;
    width: 165px;
    background-color: #90C07C;
}

.morebutton{
    font-size: 1.4rem;
    font-weight: 500;
    opacity: 90%;
}

.rightbutton{
    font-size: 1.3rem;
}
