body.loginbackground {
    background-image: url('../../../../photo/background_signup.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
} 


.formbackground {
    background-color: rgb(199, 207, 216);
    opacity: 95%;
    max-width: 620px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 55px;
    border-radius: 20px;
    height: 600px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 68%);
}

.formlogin {
    display: flex;
    flex-direction: column;  
    font-family: "Open Sans";
    justify-content: space-around;
    align-items: center;
}


.formbackground h1 {
    margin-top: 53px;
    color: #000;
}


div form p {
    font-size: 17px;
    padding: 0;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 30px;
}

.logininput {
    width: 450px;
    margin-top: 20px;
}

input[type="checkbox"] {
    transform: scale(1.6);
    position: relative;
    left: -46px;
}

.rememberpassword {
    display: flex;
    font-size: 18px;
    margin-top: 25px;
    color: #FFFFFF;
    flex-wrap: wrap;
    align-items: center;
}

.rememberpassword label {
    position: relative;
    left: -36px;
    cursor: pointer;
    color: #000;
}

.rememberpassword label:hover {
    color: red;
}

.forget-password {
    color: blue;
    position: relative;
    right: -50px;
    text-decoration: none;
}

.forget-password:hover {
    text-decoration: underline;

}

.valid-email, .valid-password {
    display: none;
}

.invalid-email, .invalid-password  {
    position: relative;
    left: -89px;
    color: red;
    margin-top: 5px;
}

.invalid-password {
    left: 10px;
}

.submit, .submitdisabled {
    margin-top: 50px;
    width: 350px;
}

.submit {
    color:rgb(0, 0, 0);
    background-color: rgb(204, 207, 0);
}

.submit:hover {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 68%);
    background-color: rgb(0, 13, 195);
    color: white;
}

.signup-now {
    color:rgb(2, 0, 149);
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.signup-now:hover {
    text-decoration: underline;
}
