.carousel-img {
    width: 100%;
    margin: 0px;
    height: 1000px;
}
/* 
.ant-carousel .slick-dots li {
    margin: 0px 30px;
}
.ant-carousel .slick-dots li button {
    width: 200%;
    transform: scale(1.5);
} */