.navbar-wrapper {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 24px;
  opacity: 87%;
  flex-wrap: wrap;
}

/* nav img {
    display: inline-block;
} */

nav a,
nav p {
  text-decoration: none;
  padding: 0px 20px 0px 20px;
  color: #0e0e0e;
  font-family: "Open Sans";
  font-weight: 500;
}

p {
  padding: 0px 20px 0px 20px;
  color: #0e0e0e;
  font-family: "Open Sans";
  font-weight: 500;
}

nav a:hover, .login-signup a:hover {
  display: inline-block;
  color: red;
  transform: scale(1.2);
  transition: transform .3s;
  transition-timing-function: ease-out;
}

.selected:active {
  color: red;
}

.middle-bar {
  border: #707070 1px solid;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #ffffffed;
}

.input-search {
  border: black 1px solid;
  font-size: 24px;
  border-radius: 15px;
  padding-left: 20px;
  margin-left: 20px;
  font-family: "Open Sans";
}

.buttonsearch {
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 1.7rem;
  margin: auto;
  cursor: pointer;
}

.buttonsearch:hover {
  color: red;
  font-weight: normal;
}

.login-signup {
  position: absolute;
  right: 50px;
  border: #707070 1px solid;
  border-radius: 20px;
  background-color: #ffffff;
  opacity: 87%;
  display: flex;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
}

.login-signup p {
  margin: 0;
  padding: 0px 20px;
}

.login-signup a {
  text-decoration: none;
  color: black;
}

.profile {
  position: absolute;
  right: 50px;
  padding: 10px 20px 10px 20px;
  transform: scale(1.7);
}

.menu-wrapper {
  padding: 20px 0px 10px 0px;
  border-radius: 10px;
}

.menu {
  font-size: 20px;
  font-family: "Open Sans";
  padding: 0px 20px;
  margin: 20px 0px;
}

.dropdown {
  cursor: pointer;
  color: #0e0e0e;
}
