
.container {
    background-color: #ffffffdc;
    min-width: 400px;
    position: relative;
    top: 120px;
    border: 1px solid #a5a5a5;
    border-radius: 10px;
    margin-right: 30px;
    padding: 16px;
}

.item-wrapper {
    background-color: rgba(198, 225, 233, 0.712);
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
}