
.asidebar-container {
    float: right;
    background-color: #ffffffdc;
    min-width: 450px;
    position: relative;
    top: 120px;
    border: 1px solid #a5a5a5;
    border-radius: 10px;
    margin-right: 10px;
    padding: 16px;
}

.item-wrapper {
    background-color: rgba(198, 225, 233, 0.712);
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #a5a5a5;
}

.item-wrapper a:hover {
    color: blue;
    text-decoration: underline;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
}

.author {
    text-align: left;
    font-size: 18px;
    margin: 0px 0px 0px 20px;
}
