.postbackground {
    background: linear-gradient(0deg, rgba(235,228,240,1) 0%, rgba(230,209,238,1) 9%, rgba(218,198,231,1) 22%, rgba(200,200,235,1) 40%, rgba(211,212,228,1) 75%, rgba(192,211,231,1) 89%, rgba(174,233,229,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
}

.post-wrapper {
    display: block;
    position: relative;
    top: 120px;
    background-color: rgba(255, 255, 255, 0.787);
    border-radius: 10px;
    margin: 0px 10px 10px 10px;
    padding: 30px 50px;
    font-family: "Open Sans";
    border: 1px solid #353535;
}

.post-wrapper p {
    margin-bottom: 0px;
    line-height: 2rem;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
}

.author-date {
    text-align: left;
    color: #474747;
}

.rating {
    font-size: 26px;
}

article p {
    margin-top: 30px;
    font-size: 22px;
    text-align: left;
    text-indent: 30px;
    word-spacing: .2em;
}

.image {
    border-radius: 5px;
    margin: 20px auto;
    transform: scale(0.8);
}

.focus-mode {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    position: absolute;
    right: 100px;
    top: 20px;
}

.focus {
    border-radius: 10px;
    padding: 0px 20px;
    font-weight: bold;
    background-color: aqua;
}