section.container {
    background-color: lightblue;
    padding-top: 130px;
    padding-bottom: 40px;
}

.post-chart-wrapper {
    display: flex;
    flex-direction: row;
    background-color: #A05EFF;
    margin: 22px auto;
    margin-bottom: 0px;
    max-width: 1000px;
    border-radius: 15px;
    font-family: "Open Sans";
    font-size: 22px;
    justify-content: space-between;
}

.rank-wrapper {
    min-width: 100px;
    margin: auto;
}

.rank {
    font-size: 30px;
    font-weight: bold;
    padding: auto;
    margin: 0px;
    color: #fff;
}

.image {
    height: 150px;
    width: 150px;
}


.name-wrapper  {
    padding: 11px 5px 0px 6px;
    width: 654px;
    margin: 0px auto;
    background-color: #fff;
}

.name {
    margin: 0px;
    text-align: left;
}

.arrow {
    min-width: 100px;
    border: none;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.name-post{
    margin: 9px auto;
    font-size: 45px;
    font-weight: 700;
    color: darkorchid;
}

.name-place{
    font-size: 28px;
    font-weight: 700;
}
