section.container {
    background: linear-gradient(0deg, rgba(235,228,240,1) 0%, rgba(230,209,238,1) 9%, rgba(218,198,231,1) 22%, rgba(200,200,235,1) 40%, rgba(211,212,228,1) 75%, rgba(192,211,231,1) 89%, rgba(174,233,229,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 130px;
    padding-bottom: 40px;
}

.post-chart-wrapper {
    display: flex;
    flex-direction: row;
    background-color: #90C07C;
    margin: 30px auto;
    margin-bottom: 0px;
    max-width: 1000px;
    border-radius: 15px;
    font-family: "Open Sans";
    font-size: 20px;
    justify-content: space-between;
}

.rank-wrapper {
    min-width: 100px;
    margin: auto;
}

.rank {
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    color: #fff;
}

.image {
    width: 170px;
    height: 170px;
}


.name-wrapper  {
    padding: 11px 5px 0px 6px;
    width: 654px;
    margin: 0px auto;
    background-color: #fff;
}

.name {
    margin: 15px;
    text-align: left;
    font-weight: 500;
    opacity: 98%;
}

.arrow {
    min-width: 100px;
    border: none;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.name-post {
    margin: 13px auto;
    font-size: 41px;
    font-weight: 600;
    color: black;
}

.name-place {
    font-size: 28px;
    font-weight: 700;
    color: #345b9b;
}

.rightbutton{
    color: coral;
}
